.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-pic {
  text-align: center;
  padding: 10px;
  box-shadow: 15px 15px 40px lightgray;
  border-radius: 8px;
}
.user-container {
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.main-container {
  display: flex;
}
.info-body {
  width: 25%;
}
